.section1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(  #46b0e1, #1c1486);
  position: relative;
  margin-top: -4rem;
}

.section1::before {
  content: "PREP SCHOOL";
  font-family: "Titan One", cursive;
  color: antiquewhite;
  font-size: 14rem;
  /* font-size: 100%; */
  font-weight: bold;
  line-height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.05;
}

.section_container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: #000; */
  background-image: linear-gradient( #1c1464,  #46b0e1);
  z-index: 10;
}


@media screen and (max-width: 850px) {
  .section1 {
    width: 100%;
    height: auto;
  }
  .section_container {
    width: 90%;
    height: auto;
  }
  .section1::before {
    content: "Prep School";
    font-size: 7rem;
    line-height: 100px;
  }
}
