.section1 {
  width: 100%;
  height: auto;
  /* background-image: linear-gradient(  #46b0e1, #1c1486); */
  position: relative;
  /* margin-top: -2rem; */
}

.section1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../public/images/DesignImages/tile_bg2.jpg");
  background-color: #0e0747;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  z-index: -1;
}

.section_container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(24,12,122,0.95);
  backdrop-filter: blur(5px);
  /* background-image: linear-gradient(#1c1464, #130c4e); */
  z-index: 10;
}


@media screen and (max-width: 850px) {
  .section1 {
    width: 100%;
    height: auto;
  }
  .section_container {
    width: 90%;
    height: auto;
  }
  /* .section1::before {
    content: "Prep School";
    font-size: 7rem;
    line-height: 100px;
  } */
}
