
.section1 {
  width: 100%;
  height: 90vh;
  /* background-image: linear-gradient( #339130,#1c1464); */
  position: relative;
  
}
.section1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../../../public/images/HolyChildPhotos/DSC_2628.JPG);
  background-color: #3b3b40;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}


.navbar {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(24,12,122,0.95);
  backdrop-filter: blur(5px);
  /* background-image: linear-gradient(#1c1464, #130c4e); */
  z-index: 10;
}
  .section{
    width: 80%;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .contents{
    margin-top: 8%;  
    width: 50%;
    padding-left: 20px;
  }
.h1{
  font-size: 68px;
  color: white;
  font-weight: bold;
  
}
.contact_info{
  /* font-size: 16px; */
  color:rgb(240, 233, 233);
  margin-bottom: 10px;

} 
.parent_container{
  width: 30%;
  margin-top: 2.5%;

}
.parent_container img{
  width: 100%;
}
.touch{
  font-size: 34px;
  color: #1C1464;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;

}
.get_in_touch{
  height: 65vh;
  width: 100%;  
    background-color:#F3F5F9;
  
}
.get_us{
  width: 90%;
  margin: 0 auto;
  height: 200px;
  display: flex;
  justify-content: space-around;
  background-color:#F3F5F9;
  align-items: center;
  margin-top: 15px;
}
.get_address, .get_email, .get_number{
  width: 26%;
  height: 140px;
  padding: 14px;
  background-color:white; 
  text-align: center;
  border-radius: 15px;
  color: #363333;
  font-size: 14px;
  /* border: none; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
} 
 .get_number:hover{
  transform: scale(1.07);
  transition: 1s;
}
 .get_email:hover{
  transform: scale(1.07);
  transition: 1s;
}
 .get_address:hover{
  transform: scale(1.04);
  transition: 1s;
}
.text, .text_em, .text_ph{
  color:#19125c;
  padding: 8px;
  font-weight: bold;
  font-size: 18px;
}
.text.em{
  height: 120px;
}
.email_link{
  font-weight: 600; 
  width: 100%;
  font-size:14px
}


/* contact_form */


.container{
  background-color: white;
 
  width: 420px;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  color: #363333;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.about{
  text-align: center;
  color:#1C1464;
  font-weight: bold;
  padding-top: 20px;
  font-size: 28px;
  
}
.form{
  width: 380px;
  /* height: 280px; */
  margin: 0 auto;
  /* margin-top: 25px; */
  padding-bottom: 20px;
}
.input{
  width: 350px;
  height: 28px;
  background: transparent;
  outline: none; 
  color:#1f1d1d;
  border: 1px solid #867f7f;
  padding: 20px 15px;
  font-size: 12px;
  border-radius: 20px;
  
}
.txtarea{
  resize: none;
  width: 350px;
  height: 20vh;
  background: transparent;
  outline: none; 
  color:#363333;
  border: 1px solid #494848;
  padding: 20px 15px;
  font-size: 12px;
  border-radius: 20px;
}
.txtarea::placeholder{
  color:#363333;
font-size: 14px;
font-weight: 400;
}

.view_all_btn{
  padding: 10px 20px;
  background-color:#19125c;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px ;
  margin-left: 220px;
  margin-top: 27px;
}
.view_all_btn:hover{
  background-color: #3529a0;
  transform: scale(1.03);
  transition: ease-in-out 1s;
}
.input::placeholder{
color:#181616;
font-size: 14px;
font-weight: 400;
}

.know_about{
  width: 100%;
  margin: 0 auto;
  background-color:#F3F5F9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.assist_you{
  font-size: 30px;
 
  /* color: #1C1464; */
  width: 500px;
  /* background-color: red; */
}
.assist{
  color: #1C1464;
  font-weight: bold;
}
.assist_text{
  font-size: 16px;
  color: #1f1d1d;
}
@media screen and (max-width: 835px) {
  .h1{
    font-size: 30px;
  }
  .contact_info{
    font-size: 16px;
  }
  .get_in_touch{
    /* width: 95%; */
    height: fit-content;
  }

  .get_us{
    width: 95%;
    height: 400px;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    
    
  }
  .get_address, .get_email, .get_number{
    width: 48%;
    font-size: 16px;
    height: 165px;
    padding-bottom: 20px;
  }
  .email_link{
    font-size:14px
  }
  .know_about{
    flex-direction: column;
  }
  .container{
    margin-top: 12px;
    width: 500px;
  }
  .section1{
    height: fit-content;
  }
  .parent_container{
    width: 40%;
    margin-top: 3%;
  
  }
  .input{
    width: 380px;
  }
  .txtarea{
    width: 380px; 
  }
}

@media screen and (max-width: 620px) {
  
  .get_address, .get_email, .get_number{
    width: 35%;
    font-size: 14px;
    
  }
}
@media screen and (max-width: 428px) {
  .section1{
    height: 32vh;
  }
  
  .h1{
    font-size: 28px;
  }
  .contents{
    margin-top: 10%;  
    width: 100%;
    padding-left:0px;
  }
  .contact_info{
    font-size: 14px;
    width: 90%; 
  }
  .touch{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
  
  }
  .get_us{
    width: 100%;
    height: 650px;
    flex-direction: column;
    
  }
  .get_address, .get_email, .get_number{
    width: 90%;
    height: 150px;
    padding: 8px;
    background-color:white; 
    text-align: center;
    border-radius: 15px;
    color: #363333;
    font-size: 14px;
    border: none;
  }
  .email_link{
    font-size:12px
  }
  .know_about{
    flex-direction: column;
  }
  .parent_container{
   display: none;
  }
  .container{
    background-color: white;
    /* height: 420px; */
    width: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #363333;
    border-radius: 12px;
  }
  .txtarea{
    width: 240px; 
  }
  .about{
    text-align: center;
    color:#1C1464;
    font-weight: bold;
    padding-top: 10px;
    font-size: 25px;
    margin-top: 10px;
    
  }
  .form{
    width: 85%;
    /* height: 270px; */
    margin: 0 auto;
    margin-top: 20px;
    padding-right: 25px;
  }
  .assist_you{
    width: 100%;
  font-size: 25px;
  margin-top: 10px;
  }
  .input{
    width: 240px;
    height: 30px;
    padding-right: 10px;

  }
  .input::placeholder{
    font-size: 16px;
    padding-right: 10px;
  }
  .view_all_btn{
    margin-left: 145px;
    margin-top: 22px;
  }
  
}
@media screen and (max-width: 360px){
  .section1{
    height: 33vh;
  }
  .get_in_touch{
    height: fit-content;
  }
  .email_link{
    font-size:14px
  }
  .get_address, .get_email, .get_number{
    width: 85%;
  }
  .assist_you{
    font-size: 20px;
    width: 100%;
    }
  .container{
    width: 280px;
  }
  .input{
    width: 240px;
    height: 30px;
    padding-right: 10px;

  }
  .input::placeholder{
    font-size: 16px;
    padding-right: 10px;
  }
  .view_all_btn{
    margin-left: 120px;
    margin-top: 22px;
  }
  .touch{
    font-size: 20px;
  }
  .form{
    margin-top: 10px;
  }
}
@media screen and (max-width: 320px){
  .section1{
    height: 50vh;
  }
}
  @media screen and (max-width: 600px) {
    
    .section1::before{
      content: "";
      font-size: 6rem;
      line-height: 100px;
  
    }
    /* .navbar{
      width: 90%;
      
    } */
  }
  