.section1 {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(#9d2a77, #e130a7); */
  /* background-image: linear-gradient(#1c1464, #919497); */
  /* background-image: linear-gradient(#919497, #1c1464); */
  background-image: linear-gradient(#1faded, #1c1464);
  position: relative;
}
.section1::before {
  content: "PREP SCHOOL";
  font-family: "Titan One", cursive;
  color: antiquewhite;
  font-size: 15rem;
  /* font-size: 100%; */
  font-weight: bold;
  line-height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.05;
}

.section_container {
  width: 80%;
  margin: 0 auto;
  /* position: relative; */
}

.navbar {
  width: 95%;
  margin: 0 auto;
}

.gif {
  position: absolute;
  top: 7%;
  left: -1%;
  width: 15%;
  height: auto;
  z-index: 10;
}
.gif1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: auto;
  z-index: 10;
}

/* ///////////////////////// */
.values_section {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.values_section::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../../../public/images/DesignImages/book2.png);
  /* background-repeat: no-repeat; */
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(0.1);
  z-index: 0;
}

.icons_div {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #e130a7;
  border: 1px solid #e130a7;
  position: absolute;
  top: -9%;
  left: 40%;
}
.icons_div2 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #1faded;
  border: 1px solid #1faded;
  position: absolute;
  top: -9%;
  left: 40%;
}
.icons_div3 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #81d742;
  border: 1px solid #81d742;
  position: absolute;
  top: -9%;
  left: 40%;
}

/* ///////////////////////////// */
.teachers_gallery {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  border-radius: 50px;
  background-color: #f0f3f6;
}

@media screen and (max-width: 850px) {
  .section1 {
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
  }
  .section_container {
    width: 90%;
  }
  .section1::before {
    content: "Prep School";
    font-size: 7.5rem;
    line-height: 100px;
  }

  .gif,
  .gif1 {
    width: 30%;
  }
  .gif1 {
    bottom: -40px;
  }
  .values_section {
    height: auto;
    padding-bottom: 2rem;
  }
}
