.active {
  border-bottom: 2px solid #ffffff;
  /* color: #000000; */
  
}
.active:hover{
  font-weight: bold;
  
  /* color: #000000; */
}

.logo {
  width: 12%;
  height: auto;
  /* margin-top: 0.5rem; */
}

.portal_btn{
  /* padding: 0.7rem; */
  /* background-color: rgb(85, 85, 25);  */
  background-color: #1faded;
   border: 2px solid #1faded;
}
.portal_btn:hover{
  background-color: #1f7bad;
  border: 2px solid #1f7bad;
}

@media screen and (max-width: 821px) {
  .logo {
    width: 35%;
    margin-top: 1rem;
  }
}
