/* Enroll Now Button */
.enroll_now_btn {
  padding: 0.8rem 1.5rem;
  background-color: #1381b4;
  /* background-color: #fff200; */
  /* background-image: linear-gradient(to right, #1faded, #fff200); */
  border: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  z-index: 3;
}
.enroll_now_btn:hover{
  background-color:  #1c98d1;
  transform: scale(1.03);
  transition: ease-in-out 1s;
}

.enroll_yourchild_btn {
  padding: 1rem 1.5rem;
  background-color: #3c134d;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;

  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.view_all_btn {
  padding: 0.7rem 1.5rem;
  background-color: #1c1464;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}
.view_all_btn:hover{
  background-color: #3529a0;
  transform: scale(1.03);
  transition: ease-in-out 1s;
}

.view_all_whitebtn {
  padding: 0.7rem 1.5rem;
  background-color: #fff7f7;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}
.view_all_whitebtn:hover{
  background-color: #fafaff;
  transform: scale(1.03);
  transition: ease-in-out 1s;
}

.carousel_left_btn {
  padding: 1rem;
  border-radius: 50% 40%;
  background-color: #e130a7;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.carousel_right_btn {
  padding: 1rem;
  border-radius: 50% 40%;
  cursor: pointer;
  background-color: #b0acae;
  border: none;
  font-weight: bold;
  color: #ffffff;
}
