/* Enroll Now Button */
.enroll_now_btn {
    padding: 1rem 2.5rem;
    /* background-color: #1faded ; */
    background-image: linear-gradient(to right, #1faded, #fff200);
    border: none;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-radius: 30px 5px 15px 20px ;
    border-bottom-right-radius: -10px 20px ;
    border-top-right-radius: 30px 80px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.enroll_yourchild_btn {
    padding: 1rem 2.5rem;
    background-color: #3c134d ; 
    border: none;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border-radius: 30px 5px 15px 20px ;
    border-bottom-right-radius: -80px ;
    border-top-right-radius: 30px 80px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

        .view_all_btn{
            padding: 0.7rem 2.2rem; 
            background-color: #bb56e2;
            border: none;
            color: #ffffff;
            font-weight: bold;
            border-radius: 30px 5px 15px 20px ;
            border-bottom-right-radius: -10px 20px ;
            border-top-right-radius: 30px 80px;

        }

.view_all_whitebtn{
    padding: 0.7rem 2.2rem; 
    background-color: #ffffff;
    border: none;
    font-weight: bold;
    border-radius: 30px 5px 15px 20px ;
    border-bottom-right-radius: -10px 20px ;
    border-top-right-radius: 30px 80px;

}

.carousel_left_btn{
    padding: 1rem;
    border-radius: 50% 40%;
    background-color: #e130a7;
    border: none;
    font-weight: bold;
    color: #ffffff;
}

.carousel_right_btn{
    padding: 1rem;
    border-radius: 50% 40%;
    background-color: #b0acae;
    border: none;
    font-weight: bold;
    color: #ffffff;
}