.section1 {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(#9d2a77, #e130a7); */
  /* background-image: linear-gradient(#1c1464, #919497); */
  /* background-image: linear-gradient(#3988d8, #c53cae); */
  background-image: linear-gradient(#919497, #1c1464);
  position: relative;
}

.section1::before {
  content: "PREP SCHOOL";
  font-family: "Titan One", cursive;
  color: antiquewhite;
  font-size: 15rem;
  /* font-size: 100%; */
  font-weight: bold;
  line-height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.05;
}

.section1::after {
  content: "";
  background-image: url(../../../public/images/DesignImages/crop-cloud.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 18.88%;
  display: block;
  position: absolute;
  bottom: -13px;
  left: 0;
  /* margin-bottom: 0px; */
  /* border: 1px solid black;  */
}

.section_container {
  width: 80%;
  margin: 0 auto;
}

.info {
  width: 20%;
  height: 15vh;
  padding: 1rem;
  border-radius: 50% 20%;
  background-color: rgba(255, 165, 0);
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
  box-shadow: rgba(33, 36, 37, 0.48) 6px 2px 16px 0px,
    rgba(115, 110, 110, 0.8) -6px -2px 16px 0px;
}

.info2 {
  width: 20%;
  height: 15vh;
  padding: 1rem;
  border-radius: 50% 20%;
  background-color: #bb56e2;
  position: absolute;
  top: 80px;
  right: 150px;
  color: white;
  box-shadow: rgba(33, 36, 37, 0.48) 6px 2px 16px 0px,
    rgba(115, 110, 110, 0.8) -6px -2px 16px 0px;
}

.info3 {
  width: 22%;
  height: 15vh;
  padding: 1rem;
  border-radius: 50% 20%;
  background-color: #1faded;
  position: absolute;
  right: 35px;
  bottom: -10px;
  color: white;
  box-shadow: rgba(33, 36, 37, 0.48) 6px 2px 16px 0px,
    rgba(115, 110, 110, 0.8) -6px -2px 16px 0px;
}

.stars_div {
  position: absolute;
  top: -60px;
  right: -80px;
}