@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-width {
    @apply px-5 lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
/* 
.wholepage {
  width: 100%;
  background-color: #e130a7;
  margin: 0 auto;
} */

.blob1 {
  border-radius: 42% 58% 67% 33% / 57% 30% 20% 43%;
}

.iconsDiv {
  padding: 1rem;
  border-radius: 50% 30%;
}

.teacherCardShadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
