.section1 {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(#9d2a77, #e130a7); */
  /* background-image: linear-gradient(#1c1464, #919497); */
  /* background-image: linear-gradient(#919497, #1c1464); */
  /* background-image: linear-gradient(#130c4e, #1c1464); */

  position: relative;
  /* padding-bottom: 3rem; */
}

.section1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../public/images/DesignImages/tile_bg2.jpg");
  background-color: #0e0747;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}

.section_container {
  width: 90%;
  margin: 0 auto;
}
.navbar {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(24,12,122,0.95);
  backdrop-filter: blur(5px);
  /* background-image: linear-gradient(#1c1464, #130c4e); */
  z-index: 10;
}

.earthContainer {
  position: absolute;
  left: 20px;
  z-index: 1;
  bottom: -80px;
  height: 60px;
  width: 60px;
  display: none;
}

/* /////////// Section 2 //////////////////// */
.section2 {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.blueStar1 {
  width: 3%;
  height: auto;
  position: absolute;
  left: 20px;
  opacity: 0.2;
}
.yellowStar {
  width: 3%;
  height: auto;
  position: absolute;
  top: 10px;
  right: 20px;
  opacity: 0.2;
}
.ballon {
  width: 3%;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: 100px;
  opacity: 0.2;
}
.redStar {
  width: 3%;
  height: auto;
  position: absolute;
  bottom: 100px;
  left: 30px;
  opacity: 0.2;
}

.icons_div {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: pink;
  border: 1px solid pink;
}
.icons_div2 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #1faded;
  border: 1px solid #1faded;
}
.icons_div3 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #81d742;
  border: 1px solid #81d742;
}
.icons_div4 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #e130a7;
  border: 1px solid #e130a7;
}
.icons_div5 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #71730a;
  border: 1px solid #71730a;
}
.icons_div6 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #919497;
  border: 1px solid #919497;
}

.section2_img {
  width: 70%;
  height: 70vh;
  border-radius: 20% 30% 40% 50%;
  /* background-color: #e130a7; */
  background-image: url(../../public/images/HomePage/slider2-img1a.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
  margin-top: 5rem;
}


/* ////////// Section 3 ///////////// */
.section3 {
  width: 100%;
  height: 100vh;
  background-color: #1c1464;
  position: relative;
  border-radius: 20px 20px 0 0;
}

.section3::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../public/images/DesignImages/tile_bg3.jpg");
  background-color: #0e0747;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  /* z-index: -1; */
}

/* ////////// Section 4 ///////////// */
.section4 {
  width: 100%;
  height: 100vh;
  padding: 3rem 0;
  position: relative;
  /* background-color: #f7f7f7; */
 
  
}
.section4::before {
  content: "";
  width: 100%;
  height: 100vh;
  /* display: block; */
  background-image: url("../../public/images/DesignImages/tile_bg4.jpg");
  background-color: #f9fbfd;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  position: absolute;
  top: 0;
  left: 0;
  /* filter: opacity(0.1); */
  /* z-index: 0; */
}

.section4_div {
  width: 80%;
  margin: 0 auto;
  /* margin-top: 6rem; */
  position: inherit;
  /* z-index: 4; */
}
.section4_text {
  color: #1c1464;
  font-size: 1.2rem;
}

.section4_img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  /* border: 2px solid #1c1464; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 40px;
}

/* ////////// Section 5 ///////////// */
.section5 {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  /* background-color: #919497; */
  background-color: #f0f3f6;
}
.section5_div {
  width: 80%;
  /* height: auto; */
  margin: 0 auto;
}

/* ////////// Section 6 ///////////// */
.section6 {
  width: 100%;
  height: 100%;
  background-color: #1c1464;
  border-radius: 20px 20px 0 0;
  position: relative;
  /* padding-bottom: 4rem; */
}

.section6::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("../../public/images/DesignImages/tile_bg3.jpg");
  background-color: #0e0747;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  z-index: 0;
}

.ppImage {
  width: 90%;
  height: auto;
}

@media screen and (max-width: 835px) {
  .ppImage {
    width: 95%;
    margin: 0 auto;
  }
}

/* /////////////////// Section 6.0 ////////// */
.section6_0 {
  width: 100%;
  height: auto;
  padding: 3rem 0;
}

.svg_width {
  width: 30%;
  height: auto;
  margin: 0 auto;
}

/* /////////// Section 7 //////////// */

.section7 {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

/* ///////////// Media Queries //////////////// */

@media screen and (max-width: 850px) {
  .section1 {
    width: 100%;
    height: auto;
  }
  .section_container {
    width: 90%;
    height: auto;
  }
  
 
  .section2 {
    height: auto;
  }
  .section2_img {
    width: 100%;
    margin-top: 2rem;
    height: 50vh;
    /* border: 1px solid red; */
  }
  .section3 {
    height: auto;
    padding-bottom: 2rem;
  }
  .section3::before {
    height: 100%;
  }
  .section4_div {
    width: 90%;
    /* margin-top: 1rem; */
    /* padding-bottom: 3rem; */
  }
  .section4_img {
    margin-top: 0rem;
    width: 100%;
    height: 100%;
  }
  .section5 {
    height: auto;
    margin-top: 5rem;
    padding-bottom: 2rem;
  }
  .section5_div {
    width: 95%;
    margin: 0 auto;
  }
  .section6 {
    height: auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .section6::before {
    height: 100%;
  }
  .section8 {
    height: 20vh;
  }
  .svg_width {
    margin: 0 auto;
  }
}

@media screen and (max-width: 769px) {
  .section6 {
    height: auto;
    padding-bottom: 2rem;
  }
  .section6::before {
    display: none;
  }
  .section8 {
    height: 20vh;
  }
}


