.section1 {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(#9d2a77, #e130a7); */
  /* background-image: linear-gradient(#1c1464, #919497); */
  /* background-image: linear-gradient(#919497, #1c1464); */
  background-image: linear-gradient(#151515, #1c1464);
  position: relative;
}
.section1::before {
  content: "PREP SCHOOL";
  font-family: "Titan One", cursive;
  color: antiquewhite;
  font-size: 15rem;
  /* font-size: 100%; */
  font-weight: bold;
  line-height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.05;
}

.section1::after {
  content: "";
  /* background-image: url(../../public/images/DesignImages/crop-cloud.svg); */
  /* background-image: url(../../public/images/DesignImages/crop-cloud.png); */
  background-image: url(../../public/images/DesignImages/crop-cloud.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* object-fit: cover; */
  width: 100%;
  height: 19%;
  display: none;
  position: absolute;
  bottom: -2px;
  left: 0;
  /* border: 1px solid black;  */
}

.section_container {
  width: 90%;
  margin: 0 auto;
}
.navbar{
  width: 95%;
  margin: 0 auto;
}

.info {
  width: 20%;
  height: 15vh;
  padding: 1rem;
  border-radius: 50% 20%;
  background-color: rgba(255, 165, 0);
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
  box-shadow: rgba(33, 36, 37, 0.48) 6px 2px 16px 0px,
    rgba(115, 110, 110, 0.8) -6px -2px 16px 0px;
}
.info2 {
  width: 20%;
  height: 15vh;
  padding: 1rem;
  border-radius: 50% 20%;
  background-color: #bb56e2;
  position: absolute;
  top: 80px;
  right: 150px;
  color: white;
  box-shadow: rgba(33, 36, 37, 0.48) 6px 2px 16px 0px,
    rgba(115, 110, 110, 0.8) -6px -2px 16px 0px;
}
.info3 {
  width: 22%;
  height: 15vh;
  padding: 1rem;
  border-radius: 50% 20%;
  background-color: #1faded;
  position: absolute;
  right: 35px;
  bottom: -10px;
  color: white;
  box-shadow: rgba(33, 36, 37, 0.48) 6px 2px 16px 0px,
    rgba(115, 110, 110, 0.8) -6px -2px 16px 0px;
}
.stars_div {
  position: absolute;
  top: -60px;
  right: -80px;
}

/* /////////// Section 2 //////////////////// */
.section2 {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.icons_div {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: pink;
  border: 1px solid pink;
}
.icons_div2 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #1faded;
  border: 1px solid #1faded;
}
.icons_div3 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #81d742;
  border: 1px solid #81d742;
}
.icons_div4 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #e130a7;
  border: 1px solid #e130a7;
}
.icons_div5 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #fff200;
  border: 1px solid #fff200;
}
.icons_div6 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #919497;
  border: 1px solid #919497;
}

.section2_img {
  width: 70%;
  height: 70vh;
  border-radius: 20% 30% 40% 50%;
  /* background-color: #e130a7; */
  background-image: url(../../public/images/HomePage/slider2-img1a.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* transform: rotate(90deg); */
  transform: scaleX(-1);
  margin-top: 4rem;
  /* position: absolute;
  top: 13%;
  right: -20%; */
}

/* ////////// Section 3 ///////////// */
.section3 {
  width: 100%;
  height: 100vh;
  background-color: #1c1464;
  position: relative;
}

.section3::before {
  content: "";
  background-image: url(../../public/images/DesignImages/cropped_div.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 10vh;
  position: absolute;
  top: -10px;
  left: 0;
  transform: rotate(180deg);
}

/* ////////// Section 4 ///////////// */
.section4 {
  width: 100%;
  height: 100vh;
  /* background-color: #919497; */
  background-color: #ffffff;
  position: relative;
}
.section4::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../../public/HCLogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(0.1);
  z-index: 0;
}

.section4_div {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
  position: inherit;
  /* z-index: 4; */
}
.section4_text {
  color: #1c1464;
  font-size: 1.2rem;
}

.section4_img {
  width: 100%;
  height: auto;
  margin-top: 4rem;
  border: 2px solid #1c1464;
  border-radius: 20% 30%;
}

/* ////////// Section 5 ///////////// */
.section5 {
  width: 100%;
  height: 100vh;
  /* background-color: #919497; */
  background-color: #ffffff;
}
.section5_div {
  width: 70%;
  margin: 0 auto;
}

/* ////////// Section 6 ///////////// */
.section6 {
  width: 100%;
  height: 110vh;
  background-color: #1c1464;
  position: relative;
}
.section6::before {
  content: "";
  background-image: url(../../public/images/DesignImages/cropped_div2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 15vh;
  position: absolute;
  top: -10px;
  left: 0;
  transform: rotate(180deg);
}

.section7 {
  width: 100%;
  height: 80vh;
  background-color: #ffffff;
  position: relative;
}

.section8 {
  width: 100%;
  height: 40vh;
  background-color: #ffffff;
}

/* ///////////// Media Queries //////////////// */

@media screen  and (max-width: 820px ) {
  .section1 {
    width: 100%;
    height: auto;
  }
  .section_container {
    width: 90%;
  }
  .section1::before {
    content: "Prep School";
    font-size: 8rem;
    line-height: 100px;
  }
  .section1::after {
    display: none;
    /* height: 12vh; */
    /* bottom: -5px; */
  }
  .section2 {
    height: auto;
  }
  .section2_img {
    width: 100%;
    margin-top: 2rem;
    height: 50vh;
  }
  .section3 {
    height: auto;
    padding-bottom: 2rem;
  }
  .section3::before {
    display: none;
  }
  .section4_div{
    width: 90%;
    margin-top: 3rem;
  }
  .section4_img{
    margin-top: 0rem;
    height: 100%;
  }
  .section5_div {
    width: 90%;
    margin: 0 auto;
  }
  .section6{
    height: auto;
    padding-bottom: 2rem;
  }
  .section6::before{
    display: none;
  }
  .section8 {
    height: 20vh;
  }
}

@media screen and (max-width: 769px) {
  .section6{
    height: auto;
    padding-bottom: 2rem;
  }
  .section6::before{
    display: none;
  }
  .section8 {
    height: 20vh;
  }
}

/* @media screen and (max-width: 600px) {
  .section1::before {
    content: "Prep School";
    font-size: 7rem;
    line-height: 100px;
  }

  .navbar {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .section1::before {
    content: "Prep School";
    font-size: 5rem;
    line-height: 100px;
  }
  .section1::after {
    height: 7.5vh;
    /* bottom: -10px; 
  }
  
}
@media screen and (max-width: 376px) {
  .section1::before {
    content: "Prep School";
    font-size: 5rem;
    line-height: 100px;
  }
  .section1::after {
    height: 6.7vh;
    z-index: 0;
    /* bottom: -8px; 
  }
  
}
@media screen and (max-width: 321px) {
  .section1::before {
    content: "Prep School";
    font-size: 5rem;
    line-height: 100px;
  }
  .section1::after {
    height: 5.7vh;
    z-index: 0;
    /* bottom: -8px;
  }
  .navbar {
    width: 90%;
  }
} */
