/* .div_1{
    background-color: white;
    width: 100%;
    height: 50vh;
}
.div_2{
    background-color: #e130a7;
    width: 100%;
    height: 50vh;
    position: relative;
}

.div_2::before{
    content: "";
    background-image: url(../../public/images/DesignImages/cropped_div2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 15vh;
    transform: rotate(180deg);
    display: block;
    position: absolute;
    top: -20px;
}
.div_3{
    background-color: #bb56e2;
    width: 100%;
    height: 50vh;
    position: relative;
}

.div_3::before{
    content: "";
    background-image: url(../../public/images/DesignImages/cropped_div.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 10vh;
    transform: rotate(180deg);
    display: block;
    position: absolute;
    top: -20px;
} */

@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Titan+One&display=swap");



.section1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#9d2a77, #e130a7);
  position: relative;
  
}
.section1::before {
  content: "PREP SCHOOL";
  font-family: "Titan One", cursive;
  color: antiquewhite;
  font-size: 15rem;
  /* font-size: 100%; */
  font-weight: bold;
  line-height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.05;

}
/* .test{
  /* border: 1px solid black; */
  /* height: 85vh; 
  display: flex;
  align-items: end;
}
.testd{
  background-image: url(../../public/images/DesignImages/crop-cloud.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit: cover; 
  width: 100%;
  height: 23vh;
  /* display: block; 
  border: 1px solid black; 
} */

.section1::after{
  content: "";
  background-image: url(../../public/images/DesignImages/crop-cloud.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* object-fit: cover; */
  width: 100%;
  height: 18.88%;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  /* border: 1px solid black;  */
}
.section2{
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  
}
/* .section2::before{
  content: "";
  background-image: url(../../public/images/DesignImages/crop-cloud.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  /* bottom: -39%; 
  top: -61%;
  

} */

.navbar {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  
  .section1::before{
    content: "Prep School";
    font-size: 8rem;
    line-height: 100px;

  }
  /* .section1::after{
    bottom: -83%;
  } */
  .navbar{
    width: 90%;
    
  }
}
