.section1 {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(#9d2a77, #e130a7); */
  /* background-image: linear-gradient(#1c1464, #919497); */
  /* background-image: linear-gradient(#919497, #1c1464); */
  background-image: linear-gradient(#151515, #1c1464);
  position: relative;
}
.section1::before {
  content: "PREP SCHOOL";
  font-family: "Titan One", cursive;
  color: antiquewhite;
  font-size: 15rem;
  /* font-size: 100%; */
  font-weight: bold;
  line-height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.05;
}

.section_container {
  width: 90%;
  margin: 0 auto;
}
.navbar {
  width: 95%;
  margin: 0 auto;
}

.earthContainer {
  position: absolute;
  left: 20px;
  z-index: 1;
  bottom: -20px;
  height: 60px;
  width: 60px;
}

/* /////////// Section 2 //////////////////// */
.section2 {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.icons_div {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: pink;
  border: 1px solid pink;
}
.icons_div2 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #1faded;
  border: 1px solid #1faded;
}
.icons_div3 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #81d742;
  border: 1px solid #81d742;
}
.icons_div4 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #e130a7;
  border: 1px solid #e130a7;
}
.icons_div5 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #fff200;
  border: 1px solid #fff200;
}
.icons_div6 {
  padding: 1rem;
  border-radius: 50% 30%;
  background-color: #919497;
  border: 1px solid #919497;
}

.section2_img {
  width: 70%;
  height: 70vh;
  border-radius: 20% 30% 40% 50%;
  /* background-color: #e130a7; */
  background-image: url(../../public/images/HomePage/slider2-img1a.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
  margin-top: 5rem;
}

/* ////////// Section 3 ///////////// */
.section3 {
  width: 100%;
  height: 100vh;
  background-color: #1c1464;
  position: relative;
  border-radius: 50px 50px 0 0;
}

/* ////////// Section 4 ///////////// */
.section4 {
  width: 100%;
  height: 100vh;
  /* background-color: #919497; */
  background-color: #ffffff;
  position: relative;
}
.section4::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(../../public/HCLogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(0.1);
  z-index: 0;
}

.section4_div {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
  position: inherit;
  /* z-index: 4; */
}
.section4_text {
  color: #1c1464;
  font-size: 1.2rem;
}

.section4_img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  /* border: 2px solid #1c1464; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 40px;
}

/* ////////// Section 5 ///////////// */
.section5 {
  width: 100%;
  height: 100vh;
  padding-top: 2rem;
  border-radius: 50px;
  /* background-color: #919497; */
  background-color: #f0f3f6;
}
.section5_div {
  width: 80%;
  /* height: auto; */
  margin: 0 auto;
}

/* ////////// Section 6 ///////////// */
.section6 {
  width: 100%;
  height: 100vh;
  background-color: #1c1464;
  border-radius: 50px;
}

.section7 {
  width: 100%;
  height: 80vh;
  background-color: #ffffff;
  position: relative;
}

.section8 {
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
}

/* ///////////// Media Queries //////////////// */

@media screen and (max-width: 850px) {
  .section1 {
    width: 100%;
    height: auto;
  }
  .section_container {
    width: 90%;
    height: auto;
  }
  .section1::before {
    content: "Prep School";
    font-size: 7.5rem;
    line-height: 100px;
  }
  .earthContainer {
    display: none;
    right: 250px;
    top: 50px;
    
  }
  .section2 {
    height: auto;
  }
  .section2_img {
    width: 100%;
    margin-top: 2rem;
    height: 50vh;
    /* border: 1px solid red; */
  }
  .section3 {
    height: auto;
    padding-bottom: 2rem;
  }
  .section3::before {
    display: none;
  }
  .section4_div {
    width: 90%;
    margin-top: 1rem;
    padding-bottom: 3rem;
  }
  .section4_img {
    margin-top: 0rem;
    width: 100%;
    height: 100%;
  }
  .section5{
    height: auto;
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
  .section5_div {
    width: 95%;
    margin: 0 auto;
  }
  .section6 {
    height: auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  .section6::before {
    display: none;
  }
  .section8 {
    height: 20vh;
  }
}

@media screen and (max-width: 769px) {
  .section6 {
    height: auto;
    padding-bottom: 2rem;
  }
  .section6::before {
    display: none;
  }
  .section8 {
    height: 20vh;
  }
}

/* @media screen and (max-width: 600px) {
  .section1::before {
    content: "Prep School";
    font-size: 7rem;
    line-height: 100px;
  }

  .navbar {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .section1::before {
    content: "Prep School";
    font-size: 5rem;
    line-height: 100px;
  }
  .section1::after {
    height: 7.5vh;
    /* bottom: -10px; 
  }
  
}
@media screen and (max-width: 376px) {
  .section1::before {
    content: "Prep School";
    font-size: 5rem;
    line-height: 100px;
  }
  .section1::after {
    height: 6.7vh;
    z-index: 0;
    /* bottom: -8px; 
  }
  
}
@media screen and (max-width: 321px) {
  .section1::before {
    content: "Prep School";
    font-size: 5rem;
    line-height: 100px;
  }
  .section1::after {
    height: 5.7vh;
    z-index: 0;
    /* bottom: -8px;
  }
  .navbar {
    width: 90%;
  }
} */
