.container {
  position: relative;
}

.section1 {
  width: 100%;
  height: auto;
  /* background-image: linear-gradient(#e130a7, #1c1464); */
  /* background-image: linear-gradient(#1c1464, #919497); */
  /* background-image: linear-gradient(#47204d, #ca3d94); */
  position: relative;
  overflow: hidden;
}

.section1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../../../public/images/DesignImages/tile_bg2.jpg");
  background-color: #0e0747;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  z-index: -1;
}



/* .section_container {
  width: 80%;
  margin: 0 auto;
} */


.navbar {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(24,12,122,0.95);
  backdrop-filter: blur(5px);
  /* background-image: linear-gradient(#1c1464, #130c4e); */
  z-index: 10;
}

/* ///  Blog styling start/////////////////////////////////////////// */
.headerContainer {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.blogHeader {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 1200px; */
  margin: 0 auto;
  flex-grow: 1;
  /* border: 4px solid black; */
}

.blogHeader h1 {
  font-size: 66px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: "Titan One", cursive;
}

.blogHeader h2 {
  font-size: 36px;
  font-family: "Titan One", cursive;
}

/* GIFS START */

@keyframes move {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(20px);
  }
}

@keyframes slide {
  from {
    transform: translateX(-20px);
  }

  to {
    transform: translateX(20px);
  }
}

.vidContainer {
  width: fit-content;
  animation: move 4s infinite ease-in-out alternate;
  left: 200px;
  top: 100px;
  z-index: 1;
}


.busContainer {
  position: absolute;
  z-index: 1;
  animation: slide 4s infinite ease-in-out alternate;
  width: fit-content;
}

.seeSawContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.earthContainer {
  position: absolute;
  left: 20px;
  z-index: 1;
  height: 100px;
  width: 100px;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* GIFS END */

/* POSTS START */


.blogContainer {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.blogSection {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 30px;

}

.latestContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.latestBlog {
  font-size: 36px;
  padding-bottom: 10px;
}

/* SINGLE POST STYLES*/
.itemsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 60px;
  column-gap: 30px;
  margin-top: 50px;
}

.item {
  border: 1px solid rgb(224, 221, 221);
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.item:hover {
  transform: scale(1.04);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.blogtext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  margin-top: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.desc {
  color: #434444;
}

.author {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  color: #434444;
  font-size: 14px;
}

.seeMore {
  color: #1faded;
  margin-top: 10px;
}

.seeMore:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100px;
  margin: 30px auto;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #1faded;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.pagination button:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.4s;
}

.activePage {
  color: white;
  background: #1faded;
  font-weight: 500;
  border: none;

}



/* ///  Blog styling End/////////////////////////////////////////// */



/* ///////////// Media Queries //////////////// */


@media screen and (max-width: 1200px) {
  .section1 {
    width: 100%;
    height: 70vh;
  }
}

@media screen and (max-width: 820px) {
  .section1 {
    width: 100%;
    height: 70vh;
  }

  .blogHeader h1 {
    font-size: 46px;
  }

  /* .section1::before {
    content: "Prep School";
    font-size: 8rem;
    line-height: 100px;
  } */

  /* .section1::after {
    height: 11.5vh;
    display: none;
    /* bottom: -5px; 
  } */




  .itemsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
  }

}

@media screen and (max-width: 600px) {
  .section1::before {
    content: "Prep School";
    font-size: 7rem;
    line-height: 100px;
  }

  .section1::after {
    height: 5%;
    bottom: -10px;
  }

  .navbar {
    width: 100%;
  }

  .blogSection {
    margin-top: 60px;
  }

  .blogHeader h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .blogHeader h2 {
    font-size: 24px;
  }

  .blogHeader h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .itemsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 426px) {
  .section1::before {
    content: "Prep School";
    font-size: 5rem;
    line-height: 100px;
  }

  .section1::after {
    height: 9.5vh;
    /* bottom: -10px; */
  }

  .blogHeader h2 {
    font-size: 18px;
  }

  .navbar {
    width: 100%;
  }

  .latestBlog {
    font-size: 28px;
  }
}

@media screen and (max-width: 376px) {
  .section1::before {
    content: "Prep School";
    font-size: 5rem;
    line-height: 100px;
  }

  .section1::after {
    height: 8.5vh;
    /* bottom: -8px; */
  }

  .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 321px) {
  .section1::before {
    content: "Prep School";
    font-size: 5rem;
    line-height: 100px;
  }

  .section1::after {
    height: 7.5%;
    /* bottom: -8px; */
  }

  .navbar {
    width: 100%;
  }
}